<html lang="en">
<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="coffeeShopApp">


  <div class="col-md-11" ng-controller="ItemListController">
    <div class="row">
      <div class="col-md-6">
        <h3>Welcome to our coffee shop</h3>
      </div>
      <div class="col-md-4">
        <h3><small>Comments on app</small></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>What would you like to order?</h4>
        <div class="radio" ng-repeat="beverage in items.beverages">
          <label>
            <input type="radio" name="selectedBeverages[]" value="{{beverage.price}}" ng-model='beverage.selected' ng-value='selectedBev' name="rdoResult">{{beverage.name}} - {{beverage.price}}
          </label>
        </div>
      </div>
      <div class="col-md-4">
      <h4><small>Values from these radio buttons are not bound as I expected them to be.  I have used the same logic to add the value for the selected beverage to the total that I used for the toppings (whose logic works), but it is not adding as expected based on the selected radio button.  See the first grey box below, whose value does not change based on the selection here.</small></h4>
      </div>
    </div>

      <div class="row">
        <div class="col-md-6">
          <h4>What toppings would you like?</h4>
          <div class="checkbox" ng-repeat="topping in items.toppings">
            <label><input type="checkbox" name="selectedToppings[]" value="{{topping.price}}" ng-model='topping.selected' ng-model='result' ng-value='{{formdata.price}}' name="btnResult">{{topping.name}} - {{topping.price}}</label>
          </div>
        </div>
        <div class="col-md-4">
          <h4><small>Values from these checkboxes do add up as expected (see the "toppings" box, below, which adds the price for each item selected to an array of prices).  However, contraints are not yet implemented which would prevent a user from purchasing toppings which are not permitted for the selected beverage above.)</small></h4>
        </div>
      </div>

      <br>
      <div>
       <h4>Detail of cost of items selected</h4>
        <div class="row">
          <div class="col-md-6">
            beverages:<pre>{{beveragesSelection}}</pre>
          </div>
          <div class="col-md-4">
            <h4><small>Although it doesn't appear that this item is updating per the selection above, note that it starts with a value of 2.5.  This is taken from the data itself, where "latte" has the value "true" for the field "selected".  This is also added to the "total cost of all beverages" field below.  Once a radio button is selected however, this value is removed, and cannot be updated via the user interface.  Hit refresh if you didn't see initially.</small></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>toppings:<pre>{{toppingsSelection}}</pre></div>
          </div>
          <div class="col-md-4">
            <h4><small>This item is updating as expected, and values are being added to the "total cost of toppings" and "sum total" items below.</small></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>total Order:<pre>{{orderSelection}}</pre></div>
          </div>
          <div class="col-md-4">
          <h4><small>This value is not updating as expected.  The logic is only structured right now to put the price of each item, but I would like for this to be an object showing for each order beverage name, and price, and associated toppings.</small></h4>
          </div>
        </div>
      <h4>Total cost of all items selected</h4>  
        <div class="row">
          <div class="col-md-6">
            <div>total cost of beverages:  {{totalBeveragesSelection()}}</div>
            <div>total cost of toppings: {{totalToppingsSelection()}}</div>
            <div>sum total:  {{sumTotal()}}</div>
          </div>
          <div class="col-md-4">
            <h4><small>These items are all working as expected - giving a total for each item, and for the sum total of both, but there is no "submit" functionality to complete the order.  Of note, I started out wanting the customer to be able to putchase any number of beverages and associated toppings. </small></h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
